body {
	font-size: 16px;
	padding: 3rem;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product-form {
	margin-bottom: 2rem;
}

.product-form label {
	margin-right: 0.5rem;
}

input {
	margin-right: 1rem;
	padding: 0.33rem 0.5rem;
}

h2 {
	margin-top: 4rem;
}

table {
	width: 100%;
	margin-top: 4rem;
	border-collapse: collapse;
}

th {
	text-align: left;
	background: #ebebeb;
}

th, td {
	padding: 0.5rem 0.8rem;
}

tbody tr {
	border-bottom: 1px solid #ebebeb;
}

button {
	padding: 0.5rem 0.8rem;
	cursor: pointer;
	background: #444;
	color: #fff;
	border: 0;
	font-weight: bold;
	margin-right: 1rem;
}

button:hover {
	background: #505050;
}

.edit-button {
	background: #168401;
}

.edit-button:hover {
	background: #1e9d06;
}

.delete-button {
	background: #a01313;
}

.delete-button:hover {
	background: #bd1818;
}


